{%- assign nickname = site.nickname -%}

<ul>
  <li><a rel="me" href="https://github.com/{{nickname}}" title="{{nickname}}" target="_blank"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg><span class="username">GitHub</span></a></li>
  <li><a rel="me" href="https://www.linkedin.com/in/{{nickname}}" title="{{nickname}}" target="_blank"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg><span class="username">LinkedIn</span></a></li>
  <li><a rel="me" href="https://t.me/{{nickname}}" title="{{nickname}}" target="_blank"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#telegram' | relative_url }}"></use></svg><span class="username">Telegram</span></a></li>
</ul>